.items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 1rem;
  row-gap: 2rem;
}

@media (max-width: 75em) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 34em) {
  .items-grid {
    grid-template-columns: 1fr;
  }
}
