.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  margin: 5rem 0;
}

.page-item {
  display: inline-block;
}

.page-link {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border: 0.2px solid rgba(255, 255, 255, 0.418);
  transition: all 0.3s;
}

.page-link:focus {
  background-color: white;
  color: black;
}

.page-link:hover {
  background-color: white;
  color: black;
}
